body {
    font-family: Arial, sans-serif;
    margin: 20px;
    text-align: center;
    background-image: url("../images/background.png");
    background-size: cover;
}

h1 {
    color: #ffffff;
}

form {
    margin: 20px auto;
    padding: 15px;
    border: 1px solid #ccc;
    width: 300px;
    background: #fff8;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgb(1, 104, 10);
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: left;
    color: #0000009f;
}

input[type="text"],
input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

input[type="text"]:focus,
input[type="number"]:focus {
    border-color: #4caf50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
    outline: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #45a049;
    transform: translateY(-1px);
}

button:active {
    transform: translateY(0);
}

.resultado {
    margin: 20px auto;
    padding: 15px;
    width: 320px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(255, 0, 0, 0.08);
    text-align: left;
}

.resultado h3 {
    margin-top: 0;
    color: #000000;
}

.resultado p {
    margin: 10px 0 0 0;
    color: #000000;
    line-height: 1.5;
}

/* Formulário */
.formulario {
    width: 320px;
    margin: 20px auto;
    padding: 15px;
    background: #ffffffcc;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(1, 104, 10, 0.4);
}

/* Tabela */
.tabela-container {
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    background: #ffffffcc;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(1, 104, 10, 0.3);
    padding: 15px;
}

.tabela-jogadores {
    width: 100%;
    border-collapse: collapse;
}

.tabela-jogadores th,
.tabela-jogadores td {
    padding: 8px 10px;
    border-bottom: 1px solid #ccc;
    text-align: left;
}

.tabela-jogadores th {
    background-color: #4caf50;
    color: white;
}

/* Botão Calcular */
.botao-calcular {
    width: 320px;
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: #388e3c;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.botao-calcular:hover {
    background-color: #2e7d32;
    transform: translateY(-1px);
}